<app-container>
    <div class="Main">
        <img src="../../../../assets/images/pokaman.png" alt="Pokemon logo" class="pokemonLogo">
        <app-login-form (success)="handleLoginSuccess()"></app-login-form>
    </div>
</app-container>