/** Main **/
.Main {
    width: 100%;
    height: 50vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;

    .pokemonLogo {
        width: 40vw;
        height: auto;
        margin: auto;
    }
}