<app-container>
  <ng-container *ngIf="pokemon">
    <app-pokemon-profile-header
      [pokemon]="pokemon"
      (catchPokemonEvent)="catchPokemonEvent($event)"
    ></app-pokemon-profile-header>
  </ng-container>
</app-container>
