<form [formGroup]="loginForm" class="formContainer">
    <input
    id="trainer-name"
    name="trainer-name"
    formControlName="trainerName"
    type="text"
    placeholder="Enter your trainer name"
    required minLength="2"
    maxLength="20"
    class="inputTrainerName"
    />
    <button class="btnStartAdventure"[disabled]="loginForm.invalid || loading" type="button" (click)="onLoginClick()">Start this adventure!!!</button>

    
</form>
<p *ngIf="error">{{error}}</p>
    <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
        <p *ngIf="trainerName.errors.required"> Trainer name is required</p>
        <p *ngIf="trainerName.errors.minLength"> That trainer name is too short (min 2)</p>
        <p *ngIf="trainerName.errors.maxLength"> That trainer name is too long (max 20)</p>
    </div>