.inputTrainerName {
  width: 50%;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid black;
  background: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  outline: none;
}

.btnStartAdventure {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;

  :hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
