<app-container>
  <h1 ngBind="trainerName">{{trainerName}}</h1>
  <h2 *ngIf="pokemon.length > 0">Owned pokemon: </h2>
  <h2 *ngIf="pokemon.length == 0"><a routerLink="/pokemon">Click here to find more pokemon!</a></h2>
  <app-pokemon-listview [pokemon]="pokemon"></app-pokemon-listview>
</app-container>
