  .pokeCard{
    position: relative;
    display: block;
    width: 800px;
    height: 30vh;
    margin: 80px auto; 
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
    &:hover{
      transform: scale(1.02);
      box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
      transition: all 0.4s;
    }
    .pokeInfo{
      position: relative;
      width: 100%;
      height: 100%;
        background-blend-mode: multiply;
      z-index: 2;
      border-radius: 10px;
      background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
      .pokeHeader{
        position: relative;
        padding: 25px;
        height: 40%;
        width: 65%;
        h1{
          color: black;
          font-weight: 400;
        }
        .pokeImage{
          position: relative;
          float: left;
          margin-right: 20px;
          height: 120px;
          box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
        }
      }
    }
    .blurredPokeImage{
      position: absolute;
      z-index: 1;
      height: 150%; 
      right: -30%;
      top: -50%;
      background-size: cover;
      border-radius: 11px;
      width: 80%;
      background-position: -100% 10% !important;  
    }
  }
  

  
 