<div *ngFor="let poke of pokemon" class="pokeCard" (click)="handlePokemonClick(poke.name)">
    <div class="pokeInfo">
      <div class="pokeHeader">
        <img class="pokeImage" [src]="poke.image" [alt]="poke.name"/>
        <h1>{{ poke.name }}</h1>
      </div>
      <h3>Click me to get my stats!</h3>
    </div>
    <div class="blurredPokeImage" [ngStyle]="{'background-image': 'url('+poke.image+')'}"></div>
  </div>