nav {
    position: sticky;
    top: 0;
    background-color: orange;
    color: blue;
    z-index: 21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
}

nav, ul {
    display: flex;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
    font-size: 1.5em;
}

.navbar-brand img {
    max-width: 100px;
}

.navProfile {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    height: 80%;
    margin: auto;
    border-radius: 20px;
}