<nav>
  <ul>
    <li class="navbar-brand">
      <a routerLink="/pokemon">
        <img src="../../../../assets/images/pokaman.png" alt="Pokaman Logo for navbar" />
      </a>
    </li>
    <ng-container *ngIf="hasActiveSession">
      <li>
        <a routerLink="/pokemon">Pokemon</a>
      </li>
      <li>
        <a routerLink="/trainer">Trainer</a>
      </li>
    </ng-container>
  </ul>
  <ul>
    <ng-container *ngIf="trainerName != null">
      <div class="navProfile">
        <li>
          <a>
            {{trainerName}}
          </a>
        </li>
        <li class="navbar-brand">
          <a routerLink="/trainer">
            <img src="../../../../assets/images/ash.png" alt="Ash Ketchum Face for navbar" />
          </a>
        </li>
      </div>

      <li>
        <a routerLink="/" (click)="onLogOutClick()">
          Log out
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
