  .pokeContainer {
      width: 100%;
      display: flex;
      justify-content: center;
  }

//   .blurredPokeImage{
//     position: absolute;
//     z-index: 1;
//     height: 200%; 
//     width: 200%;
//     top: -60%;
//     left: -50%;
//     background-size: cover;
//     border-radius: 11px;
//     background-position: -100% 10% !important;  
//   }
  
  .pokeCard {
    display: inline-block;
    width: 30%;
    padding: 1em;
    border-radius: 15px;  
    top: 10vh;
    background: #ddd;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111111;
    position: relative;  
    z-index: 2;
    
  }
  .pokeImageContainer {
    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
  }

  .pokeImage {
      width: 70%;
  }

  .pokeCaption {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
  }

  .pokeStats {
    margin: 1em 0;
    th {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: right;
      font-weight: 300;
    }
    width: 100%;
    
    th, td {
      width: 50%;
      padding: 0.25em 0.5em 0;
    }
    
  }
  
  .pokeName {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;    
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  .pokeType {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }

  .pokeOwned {
    position: absolute;
    top: 0;
    left: 1em;
    transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }

  .normal {
    background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
    box-shadow: 0px 5px 20px -10px #3A1C71;
    .pokeType {
      background-color: #C08A53;
    }
  }
  
  .water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);    
    box-shadow: 0px 5px 20px -10px #000851;
    .pokeType {
      background-color: #1CB5E0;
    }
  }
  .electric {
    
    background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(232,255,153,1) 83%);
    .pokeType {
      background-color: #000;
    }
  }
  .fire {
    background: linear-gradient(0deg, rgba(199,24,0,1) 10%, rgba(252,194,69,1) 100%);
    .pokeType {
      background-color: rgba(199,24,0,1);
    }
  }
  
  .psychic {
    
    background: linear-gradient(140deg, rgba(255,167,249,1) 0%, rgba(255,44,195,1) 39%, rgba(255,227,167,1) 100%);
    .pokeType {
      background: #ff2cc3;
    }
  }
  
  .dark {
    background: linear-gradient(20deg, rgba(25,25,25,1) 0%, rgba(16,11,50,1) 33%, rgba(92,2,73,1) 100%);
    .pokeType {
      background: #5c0249;
    }
  }
  .grass {
    background: linear-gradient(140deg, rgba(196,218,61,1) 0%, rgba(110,127,14,1) 69%, rgba(39,80,9,1) 100%);

    .pokeType {
      background: #6e7f0e;
    }
  }
  
  .ice {
    background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
    .pokeType {
      background: #6fb8eb;
    }
  }
  
  .fairy {
    background: linear-gradient(45deg, rgba(255,230,240,1) 0%, rgba(255,197,224,1) 34%, rgba(255,166,185,1) 71%, rgba(255,138,149,1) 100%);
    
    .pokeType {
      background: #ff8a95;
    }
  }


  .btnCatch {
      width: 80%;
      height: 50px;
      border: 1px solid black;
      border-radius: 40px;
      background: white;
      margin: auto;
      display: flex;
      flex-direction: row;
        p {
            font-size: 1.5rem;
        }
  }
  .pokeball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    transform-origin: center bottom;
    overflow:hidden;

    &__upper { 
        position: absolute;
        background: red;
        height: 42%;
        width: 100%;
    }

    &__base {
        background: black;
        height: 80%;
        width: 100%;
        padding: 10%;
    }

    &__lower {
        height: 42%;
        bottom: 0;
        width: 100%;
        background: white;
        position: absolute;
    }
    &__circle {
        border-radius: 50%;
        height: 30%;
        width: 30%;
        border: 2px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        background: white;
        transform: translate(-50%, -50%);
    }
  }