<div class="pokeContainer">
  <!-- <div class="blurredPokeImage" [ngStyle]="{'background-image': 'url('+pokemon.image+')'}"></div> -->
  <div class="pokeCard {{pokemon.types[0].type.name}}">
    <div class="pokeImageContainer">
      <img [src]="pokemon.image" [alt]="pokemon.name" class="pokeImage" />
    </div>

    <div class="pokeCaption">
      <h1 class="pokeName">{{pokemon.name}}</h1>

      <h3 *ngIf="pokemon.owned"  class="pokeOwned">
          OWNED
      </h3>
      <h3 class="pokeType">
        {{pokemon.types[0].type.name}}
      </h3>

      <table class="pokeStats">
        <tbody>
          <tr *ngFor="let stat of pokemon.stats">
            <th>{{stat.stat.name}}</th>
            <td>{{stat.base_stat}}</td>
          </tr>
          <tr>
              <th>Weight</th>
              <td>{{pokemon.weight}}</td>
          </tr>
          <tr>
            <th>Height</th>
            <td>{{pokemon.height}}</td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="!pokemon.owned" class="btnCatch" (click)="handleCatchClick()">
        <div class="pokeball">
          <div class="pokeball__upper"></div>
          <div class="pokeball__base"></div>
          <div class="pokeball__lower"></div>
          <div class="pokeball__circle"></div>
        </div>
        <p>Catch me!</p>
      </div>
    </div>
  </div>
</div>
